@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o13gkq');
  src:  url('fonts/icomoon.eot?o13gkq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o13gkq') format('truetype'),
    url('fonts/icomoon.woff?o13gkq') format('woff'),
    url('fonts/icomoon.svg?o13gkq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-dropdown:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-heart-filled:before {
  content: "\e906";
}
.icon-pen:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-trash-bin:before {
  content: "\e909";
}
